.contact {
  color: white;
  padding: 0 1em;
}

.contact-columns {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center; /* Center both columns vertically */
  justify-content: center;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .contact-columns {
    flex-direction: column;
    gap: 1rem;
  }
}

.contact-description {
  flex: 1;
  font-size: 1rem;
  line-height: 1.5;
}

.contact-email {
  font-size: 1rem;
  display: unset;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 0 auto;
  flex: 1;
  padding: 1rem;
}

.contact-form label {
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  font-family: inherit;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box; /* Ensure padding is included in the width */
}

.contact-form button {
  background-color: #61dafb;
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #21a1f1;
}

.contact-form button:disabled {
  background-color: #cccccc; /* Gray background for disabled state */
  color: #666666; /* Dimmed text color */
  cursor: not-allowed; /* Change cursor to indicate non-clickable */
}

.contact-form button:disabled:hover {
  background-color: #cccccc; /* Ensure hover does not change background */
}