.band-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.band-logo {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.band-name {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #61dafb;
}