.media {
  color: white;
  padding: 0 1em;
}

.video-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  margin: 0 auto;
  gap: 1rem;
  padding-bottom: 1rem;
}

.video-container iframe {
  aspect-ratio: 16 / 9;
}