.media {
  color: white;
  padding: 0 1em;
}

.videos-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  margin: 0 auto;
  gap: 1rem;
  padding-bottom: 1rem;
}

.videos-container iframe {
  aspect-ratio: 16 / 9;
}

.video-container {
  label {
    font-size: 0.875rem;
  }
  iframe {
    margin-top: 0.25rem;
  }
}

@media (max-width: 768px) {
  .media {
    padding-top: 3rem;
  }
}