nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #282c34;
  z-index: 1000;
  padding: 1rem;
}

.navigation-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
}

.navigation-list li {
  cursor: pointer;
}

.navigation-list li:hover {
  color: #61dafb; /* Change text color to light blue on hover */
  transition: color 0.3s ease; /* Smooth transition */
}

.navigation-list .active {
  font-weight: bold;
  text-decoration: underline;
}

a {
  display: flex;
  align-items: center;
  color: #61dafb; /* Adjusted to a lighter blue for better contrast */
  font-size: 1.5rem;
}

a:hover {
  color: #ffffff; /* Change to white on hover */
}
