nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding-top: 1rem;
  transition: background-color 0.3s ease;
}

nav.scrolled {
  background-color: rgba(40, 44, 52, 0.8); /* Solid background on scroll */
  padding-bottom: 1rem;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.navigation-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 2rem;
}

.navigation-list.open {
  display: block;
  flex-direction: column;
  align-items: center;
}

.navigation-list li {
  cursor: pointer;
  font-size: 1.2rem;
}

.navigation-list li:hover {
  color: #61dafb; /* Change text color to light blue on hover */
  transition: color 0.3s ease;
}

.navigation-list .active {
  font-weight: bold;
  color: #61dafb;
}

a {
  display: flex;
  align-items: center;
  color: #61dafb; /* Adjusted to a lighter blue for better contrast */
  font-size: 1.5rem;
}

a:hover {
  color: #ffffff; /* Change to white on hover */
}

@media (max-width: 768px) {
  nav.menu-open {
    background-color: rgba(40, 44, 52, 0.8);
    padding-bottom: 1rem;
  }

  .menu-toggle {
    display: block;
  }

  .navigation-list {
    display: none;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .navigation-list.open {
    display: flex;
    align-items: flex-start;
    padding: 0.5em 0 0 0.5em;
  }
}