.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  margin-top: 6vh;
}

body, html {
  background: linear-gradient(to bottom left, #6AB2B2, #3F7776, #5B7824);
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100vh;
}

@media (max-width: 768px) {
  main {
    margin-top: 0;
  }
}